### Visual Studio Code ###
.vscode/

### Git ###
.git/

### Other Files ###
*.out
*.sum
*env.json
*credentials.json
cover.html
fmtcoverage.html
go.sum
debug/
vendor/
.scannerwork
goose

### .env deve ser incluido por conter variaveis de ambiente(excessao projeto pismo) ###